In [7]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [8]:
# Store the CSV you save created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kasane,BW,2021-07-22 04:52:01,-17.8167,25.1500,49.33,39,0,4.00
1,1,Upernavik,GL,2021-07-22 04:50:04,72.7868,-56.1549,42.04,88,100,10.47
2,2,Tuktoyaktuk,CA,2021-07-22 04:50:37,69.4541,-133.0374,57.20,100,90,11.50
3,3,Kahului,US,2021-07-22 04:51:24,20.8947,-156.4700,80.62,76,40,16.11
4,4,Kavieng,PG,2021-07-22 04:52:01,-2.5744,150.7967,82.89,75,93,7.61

In [9]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer to the heatmap_layer attribute
heatmap_layer = gmaps.heatmap_layer(locations, weights = temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [23]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kahului,US,2021-07-22 04:51:24,20.8947,-156.4700,80.62,76,40,16.11
4,4,Kavieng,PG,2021-07-22 04:52:01,-2.5744,150.7967,82.89,75,93,7.61
6,6,Tura,IN,2021-07-22 04:52:02,25.5198,90.2201,88.02,68,87,0.67
11,11,Kapaa,US,2021-07-22 04:50:05,22.0752,-159.3190,80.92,79,75,3.00
19,19,Chavakkad,IN,2021-07-22 04:52:06,10.5333,76.0500,84.27,86,100,14.05
20,20,Atuona,PF,2021-07-22 04:52:06,-9.8000,-139.0333,77.58,68,47,15.23
21,21,Marsh Harbour,BS,2021-07-22 04:52:06,26.5412,-77.0636,83.23,77,100,10.31
25,25,Adrar,MR,2021-07-22 04:52:07,20.5022,-10.0711,80.82,16,61,10.78
28,28,San Patricio,US,2021-07-22 04:51:10,28.0170,-97.5169,81.82,77,49,7.05
30,30,Road Town,VG,2021-07-22 04:47:52,18.4167,-64.6167,82.49,80,1,21.45

In [24]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [25]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3         Kahului      US     80.62  20.8947 -156.4700
4         Kavieng      PG     82.89  -2.5744  150.7967
6            Tura      IN     88.02  25.5198   90.2201
11          Kapaa      US     80.92  22.0752 -159.3190
19      Chavakkad      IN     84.27  10.5333   76.0500
20         Atuona      PF     77.58  -9.8000 -139.0333
21  Marsh Harbour      BS     83.23  26.5412  -77.0636
25          Adrar      MR     80.82  20.5022  -10.0711
28   San Patricio      US     81.82  28.0170  -97.5169
30      Road Town      VG     82.49  18.4167  -64.6167

In [26]:
#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type" : "lodging",
    "key" : g_key,
}

In [38]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kahului,US,80.62,20.8947,-156.4700,Maui Seaside Hotel
4,Kavieng,PG,82.89,-2.5744,150.7967,Nusa Island Retreat
6,Tura,IN,88.02,25.5198,90.2201,Hotel RIKMAN Continental
11,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Chavakkad,IN,84.27,10.5333,76.0500,Rajah Island
20,Atuona,PF,77.58,-9.8000,-139.0333,Villa Enata
21,Marsh Harbour,BS,83.23,26.5412,-77.0636,Abaco Beach Resort
25,Adrar,MR,80.82,20.5022,-10.0711,
28,San Patricio,US,81.82,28.0170,-97.5169,"Motel 6 Sinton, TX"
30,Road Town,VG,82.49,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))